{% extends 'admin/base.html' %}

{% block title %}
    Student Data
{% endblock %}

{% block child %}
<div class="container">
    <div class = "tab-1">
      <div class="row" style="padding: 1% 2%; text-align: center;">
      <h2>ATTENDANCE PORTAL</h2>
    </div>
    </div>
    <br><br>
    <div class="container">

        <div class="aInputs">
            <form action="" method="post">
            <div class="row">                
                <div class="col-md-3">
                    {{ form.course.label() }}        
                    {{ form.course(class = 'form-control') }}
                </div>
                <div class="col-md-3">
                    {{ form.grade.label() }}
                    {{ form.grade(class = 'form-control') }}
                </div>
                <div class="col-md-3">
                    <h6>.</h6>
                    <div>{{ form.submit(class = 'btn btn-primary') }}</div>
                    
                </div>
            </div>  
        </form>                              
        </div>
    {% if  items%}
    <br><br>
    <form action="" method="post">
    <div class="table-responsive" style="height: 40rem;">
        <table class="table table-striped table-bordered table-primary table-responsive">
            <thead class="thead-dark">
                <th>SR#</th>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Absent</th>
                <th>Present</th>
                <th>Comments</th>
            </thead>
            <tbody>
                {% set i = 1 %}
                {% for item in items %}
                <tr>
                    <th id = "{{i}}" style="text-align: center;">{{ i }}</th>
                    <td id = "{{item['Student_ID']}}">{{ item['Student_ID'] }}</td>                    
                    <td id = "{{item['Student_Name']}}">{{ item['Student_Name'] }}</td>                    
                    <td style="text-align: center;"><input class="form-check-input" type="radio" name="attendance[{{item['Student_ID']}}]" value = "absent"></td>
                    <td style="text-align: center;"><input class="form-check-input" type="radio" name="attendance[{{item['Student_ID']}}]" value = "present" checked></td>
                    <td id = "{{item['Student_ID']}}"><input class = "form-control" type="text" name="comments[{{item['Student_ID']}}]"></td>
                </tr>
                {% set i = i + 1 %}
                {%endfor%}                
            </tbody>
        </table>
        <input class="btn btn-success btn-lg" type="submit" value="Submit">
    </div>
    </form>
    {%endif%}
    </div>
</div>
{% endblock %}

{% block childScripts %}

{% endblock %}